@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --default-text-color-main: #d2d2d2;
  --default-text-color-secondary: #aaa;

  --background-color: #15161b;
  --link-color-hover: #fdad00;

  --container-background-color: #191a1f;
}

html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
  -webkit-text-size-adjust: none;
  background-color: var(--background-color);
}

#intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-info {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  position: relative;
}

.logo {
  margin: 2rem;
}

.name {
  color: var(--default-text-color-main);
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
}

.bio {
  color: var(--default-text-color-main);
  font-weight: 500;
  font-size: 1rem;
}

.links {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link,
.link-highlight {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  padding-bottom: 0.1rem;
  cursor: pointer;
}

.link {
  transition: box-shadow 80ms cubic-bezier(0.01, 0.88, 0.93, 0.07) 0s;
}

.link:hover {
  box-shadow: 0 3px 0 var(--link-color-hover);
  text-decoration: none;
  color: #eee;
}

.link-highlight {
  box-shadow: 0 3px 0 var(--link-color-hover);
}

.link-icon {
  text-decoration: none;
  color: var(--default-text-color-main);
  margin: 1rem;
  font-size: 1.25rem;
}

.link-icon:hover {
  color: #eee;
  transition: 0.2s;
}

.dim {
  color: #545454;
  position: absolute;
  bottom: 0;
}

.company {
  text-decoration: none;
  color: inherit;
}

.company:visited {
  text-decoration: none;
  color: inherit;
}

.company:hover {
  color: var(--link-color-hover);
}
